fastapi
uvicorn
authlib
cryptography
httpx
jwt
pyotp
qrcode
pydantic_settings
sqlalchemy
passlib==1.7.4
pydantic[email]
email-validator
psycopg2
jinja2
python-multipart
pyjwt
bcrypt==4.0.1
python-jose[cryptography]
websockets
uvicorn[standard]
wsproto
requests